SUT.UI/Connected Services/BonusProjectorService/BonusProjector.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetExpectedBonus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="employeeCurrentSalary" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExpectedBonusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetExpectedBonusResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>